Subject: Your event has been approved!

{% load actionkit_tags %}
<!-- If a campaign requires event approval, this email gets sent out to event hosts when their event is approved -->
{% if campaign.id = 9 %}


<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{% if user.first_name %}</p>
<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{{ user.first_name|default:"Friend"|title }}:</p>
<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{%endif%}</p>

<!-- If a campaign requires event approval, this email gets sent out to event hosts when their event is approved -->

<p style="font-weight: 400; font-size: 17px; line-height: 130%;">Great news! We just got done reviewing your event and now you’re approved and ready to go. Here are the next steps for making your launch event on October 1 a big success:</p>



<ol>
  <li dir="ltr">
    <p dir="ltr"><a style="font-weight:bold;text-decoration:underline;" href="https://docs.google.com/document/d/e/2PACX-1vQjUbkBlft-yoSR4tLMVAIchUzE2yoNiQG2w-LzRIcFgGLyTKtyezgxQgshTvg1OSXBcX00ppVvmmdc/pub"><strong>Read our event host guide.</strong></a> It tells you everything you need to know to host a successful and fun event.</p>

     </li>
  <li dir="ltr"><p><a style="font-weight:bold;text-decoration:underline;" href="https://docs.google.com/document/d/e/2PACX-1vQ6DMFvUtgVGZAfuysCwpcIfGNBboWiV4rOCFbyIU_LGtTZcUe3jNTe_pcNJ91Uiim7N_7KVhOLN-1N/pub">Join us on an orientation call.  
    </a>This isn’t mandatory, but it’s strongly encouraged. We’ll talk about what to do before, during and after your event to make it a success.</p>
  </li>
  <li dir="ltr">
    <p dir="ltr"><a style="font-weight:bold;text-decoration:underline;" href="http://{% client_domain %}{{ event.public_url }}?no_akid=1">Share your event!</a> People Power doesn’t work without the people! Invite your friends, family or coworkers on social media or via email. We need as many people to attend these events as possible, so we can grow our movement and win stronger voting rights.</p>




{% else %}
<p>Congratulations! Your "{{campaign_title}}" event has been approved and is now open for signups!</p>

<p>You can start sharing your event at {% endfilter %} <a href="http://{% client_domain %}{{ event.public_url }}">http://{% client_domain %}{{ event.public_url }}</a> with potential attendees. </p> {% filter akid:user|number_links|cleanup_links %}

<p>To use your event tools, visit <a href="https://{% client_ssl_domain %}{{ signup.url }}">https://{% client_ssl_domain %}{{ signup.url }}</a></p>

<p>Thanks again!</p>

{%endif%}


<!-- Replacement for unsubscribe -->
<p><small>You're receiving this message because you set up a People Power event.  If you don't want to receive further emails about this event, you can cancel the event using the host tools linked above.</small></p>
