Subject: Your event has been approved!

{% load actionkit_tags %}
<!-- If a campaign requires event approval, this email gets sent out to event hosts when their event is approved -->
{% if event.custom_fields.event_category|force_list|contains:"daca" %}

<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{% if user.first_name %}</p>
<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{{ user.first_name|default:"Friend"|title }}:</p>
<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{%endif%}</p>

<!-- If a campaign requires event approval, this email gets sent out to event hosts when their event is approved -->

<p dir="ltr">Thanks so much for posting your meeting with your Member of Congress to the People Power map and for taking the time to organize your community members to lobby for a clean Dream Act. </p>

<p dir="ltr"><strong>Here are your next steps:</strong></p>

<ol>
  <li dir="ltr">
    <p dir="ltr"><strong>If you haven't already, call your Member of Congress&rsquo;s local district office to set up your meeting</strong>. It may take a few tries to lock down a time, but be persistent. </p>
  </li>
  <li dir="ltr">
    <p dir="ltr">After you schedule your meeting,  <a href="https://{% client_ssl_domain %}{{ signup.url }}" style="font-weight: bold;text-decoration: underline;">update your event details</a>. Use the tool to &ldquo;email all event attendees&rdquo; to update anyone who had RSVPed on the new event date and time.</p>
  </li>
</ol>

<ol start="3">
  <li dir="ltr">
    <p dir="ltr"><strong>Recruit your friends and family to join </strong>- post your event link on your own social media and invite your friends and family. &nbsp;</p>
  </li>
</ol>
<p dir="ltr"><strong>Here are resources for your meeting:</strong></p>
<ul>
  <li dir="ltr">
    <p dir="ltr"><strong><a href="https://gdoc.pub/doc/e/2PACX-1vSUHvliSubpLCue749xA68BHq_SUVsa5SAxzDv91dClR0n5xI4zZtTrV--vSFQ2rCk13AR4jvnIJXbd">Immigration talking points and &ldquo;leave-behind&rdquo; for the Member of Congress&rsquo;s staff.</a></strong><a href="https://gdoc.pub/doc/e/2PACX-1vSUHvliSubpLCue749xA68BHq_SUVsa5SAxzDv91dClR0n5xI4zZtTrV--vSFQ2rCk13AR4jvnIJXbd"> </a>Familiarize yourself with ACLU&rsquo;s talking points on a clean Dream Act. If you&rsquo;re able, print out a copy to leave behind with the staffer you meet with. </p>
  </li>
</ul>

<ul>
  <li dir="ltr">
    <p dir="ltr"><strong><a href="https://gdoc.pub/doc/e/2PACX-1vQ1QwADRUve1914TAzv8bMq9pIBh-og6L6_xkwvS_8-FkhB3jJJtsd66v3N7UfA-lT6CaqyBIdIn9ZT">Lobby visit guide.</a></strong><a href="https://gdoc.pub/doc/e/2PACX-1vQ1QwADRUve1914TAzv8bMq9pIBh-og6L6_xkwvS_8-FkhB3jJJtsd66v3N7UfA-lT6CaqyBIdIn9ZT"></a> Use this as a reference on how to schedule your meeting, prepare your team, and have an effective conversation with your district office.</p>
  </li>
</ul>

<p dir="ltr">If you have any questions, just reply to this email or email us directly at <a href="mailto:info@peoplepower.org">info@peoplepower.org</a>. </p>

<p dir="ltr">Thanks so much for stepping up to meet with your Member of Congress to demand a clean DREAM Act by the end of the year. As a constituent, you have the people power to persuade them to support our Dreamer community.</p>

<p dir="ltr">- ACLU People Power Team</p>


{% else %}
<p>Congratulations! Your "{{campaign_title}}" event has been approved and is now open for signups!</p>

<p>You can start sharing your event at {% filter akid:user|number_links|cleanup_links %}<a href="http://{% client_domain %}{{ event.public_url }}?no_akid=1">http://{% client_domain %}{{ event.public_url }}?no_akid=1</a> with potential attendees. </p> {% endfilter %}

<p>To use your event tools, visit <a href="https://{% client_ssl_domain %}{{ signup.url }}">https://{% client_ssl_domain %}{{ signup.url }}</a></p>

<p>Thanks again!</p>

{%endif%}


<!-- Replacement for unsubscribe -->
<p><small>You're receiving this message because you set up a People Power event.  If you don't want to receive further emails about this event, you can cancel the event using the host tools linked above.</small></p>
