{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}
{% if signup and not event.is_inactive %}

<!-- Title -->
<!-- Sidebar -->

<div class="banding-black">
<div class="ak-grid-row">
<div class="ak-grid-col ak-grid-col-12-of-12">
{% if campaign.use_title %}
<h2>Event: {{ event.title }}</h2>
{% else %}
<h2>Event: {{ campaign.local_title }}</h2>
{% endif %}
{% if campaign.use_title %}
<h3>{{ campaign.local_title }}</h3>
{% endif %}
<!-- Message from mothership -->
<div id="attendee-tools-intro">{{ form.tools_text|safe }}</div>
</div> <!--col-12-->
</div> <!--ak-grid-row-->
</div> <!-- .banding-black -->

<div class="ak-grid-row event-rsvpthanks">
<div class="ak-grid-col ak-grid-col-12-of-12 textA textBlue">You are confirmed for this event.</div>
</div> <!-- .event-rsvpthanks -->

<div class="ak-grid-row">

<div class="ak-grid-col ak-grid-col-6-of-12">
	<div id="event-attendee-details">
	<div class="subA">Event Details</div>
	{% include "./event_attendee_details.html" %}
	</div>
	<div class="event-tools">
	<div class="subA">Event tools</div>
	<div id="event-attendee-links">
	{{ form.tools_sidebar|safe }}
	<span><a href="../cancel_signup/?akid={{ args.akid }}" class="buttonB1 icon-cancel">Cancel signup</a></span>
	<span><a href="#" onclick="$('div.contact-form').slideDown('slow'); $(this).parent('li.narrower').hide();" class="buttonB1 icon-email">Email host</a></span>
	</div>
	{% include "./event_contact.html" %}
	</div> <!-- .event-tools -->
</div> <!-- col6 -->

<div class="ak-grid-col ak-grid-col-6-of-12">
	<div class="event-attendee-sidebar">
	    {% if event.is_open_for_signup %}
	        {% include "./event_invite.html" %}
	    {% endif %}
	</div>
	<div class="event-share">
		<div class="subA">Share</div>
	    <div><a class="ak-button ak-share-button ak-facebook" href="/share/link?type=fb&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank">Post to Facebook</a></div>
		<div><a class="ak-button ak-share-button ak-twitter" href="/share/link?type=tw&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}" target="_blank">Share on Twitter</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
	</div> <!-- .event-share -->
</div> <!-- col6 -->

</div> <!-- .ak-grid-row -->

{% else %}
    {% if event.is_inactive %}
        <h2>Sorry, this event has been cancelled.</h2>
    {% endif %}
    {% if not signup %}
        {% comment %}
            This message also shows if you were removed by the host.
        {% endcomment %}
        {% if args.cancel_success %}
            <h2>Your signup was cancelled successfully.</h2>
        {% else %}
            <h2>You aren't currently signed up for this event.</h2>
            <p>If you think this is a mistake, check that you cut-and-pasted the entire link to this page.</p>
        {% endif %}
    {% endif %}
    <div>
        <a href="/event/{{ campaign.local_name }}/?akid={{args.akid}}&amp;zip={{args.zip}}">Search for another event</a>
    </div>
{% endif %}

{% endblock %}

{% block below_form %}
<script type="text/javascript">
actionkit.forms.contextRoot = '/context/';
actionkit.forms.initTafForm('taf');
</script>
{% endblock %}
