Subject: Your event has been approved!

{% load actionkit_tags %}
<!-- If a campaign requires event approval, this email gets sent out to event hosts when their event is approved -->
{% if campaign.id = 9 %}


<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{% if user.first_name %}</p>
<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{{ user.first_name|default:"Friend"|title }}:</p>
<p style="font-weight: 400; font-size: 17px; line-height: 130%;">{%endif%}</p>


<p style="font-weight: 400; font-size: 17px; line-height: 130%;">Great news! We just got done reviewing your event and now you’re approved and ready to go. Here are the next steps for making your launch event on October 1 a big success:</p>





{% else %}
<p>Congratulations! Your "{{campaign_title}}" event has been approved and is now open for signups!</p>

<p>You can start sharing your event at {% endfilter %} <a href="http://{% client_domain %}{{ event.public_url }}">http://{% client_domain %}{{ event.public_url }}</a> with potential attendees. </p> {% filter akid:user|number_links|cleanup_links %}

<p>To use your event tools, visit <a href="https://{% client_ssl_domain %}{{ signup.url }}">https://{% client_ssl_domain %}{{ signup.url }}</a></p>

<p>Thanks again!</p>

{%endif%}


<!-- Replacement for unsubscribe -->
<p><small>You're receiving this message because you set up a People Power event.  If you don't want to receive further emails about this event, you can cancel the event using the host tools linked above.</small></p>
