Subject: {% if user.id == event.creator.id and "moderation_not_approved"|is_in:event.notes %}Your "{{campaign_title}}" event doesn't (yet) meet our criteria for approval.{% else %}Your "{{campaign_title}}" event has been cancelled{% endif %}

{% load actionkit_tags %}
{% if user.id == event.creator.id and "moderation_not_approved"|is_in:event.notes %}
<p>We checked out your event and it doesn’t <i>yet</i> meet our criteria for approval.</p>

<p>We’d like to invite you to consider updating the event so we can review it again for approval. Here are some reasons which prevent us from approving an event. If you can change your event listing to comply with our guidelines, we’d be happy to approve it.</p>

<ul>
  <li>
    PeoplePower.org is nonpartisan. If your event refers to defeating or electing candidates for office or promoting a political party it can’t be approved. Candidates for office and political parties can post events if the focus is on organizing resistance to Trump’s agenda as opposed to electioneering.
  </li>
  <li>
    We don’t post generic meetings or events. Event descriptions should specify opposition or support to policies or an agenda.
  </li>
  <li>
    We promote events that are free to the public. If a contribution is required (rather than optional) for attendance, it won’t be approved. Events that appear to be fundraising focused will not be posted.
  </li>
  <li>The event description should describe what will happen at the event to the public (not to us). Is it a meeting? Protest? Letter writing house party? Give a brief description of what the volunteers can expect, not just why the event is necessary. 
	</li>
	<li>Events including obscenities or offensive language won’t be approved. We also want a general quality and clarity for the events posted on our map -- be sure you don’t have any spelling errors and that the general public can understand what your event is about.</li>
  <li>
    Events must have a specific street address so they can be placed on the map.
  </li>
</ul>

<p>
  If possible, please update your event to abide by the above guidelines please resubmit it for approval:
</p>

<p>
  <a href="https://{% client_domain %}/event/{{ campaign.local_name }}/create/?prefill=1&event_title={{ event.title|default:''|urlencode }}&event_starts_at_date={{ event.starts_at|date:'m/d/Y'|urlencode }}&event_starts_at_time={{ event.starts_at|date:'g:i'|urlencode }}&event_starts_at_ampm={{ event.starts_at|date:'A' }}&event_max_attendees={{ event.max_attendees|default:'' }}&{% for category in event.custom_fields.event_category|force_list %}action_event_category={{ category }}&{% endfor %}event_venue={{ event.venue|default:''|urlencode }}&event_address1={{ event.address1|default:''|urlencode }}&event_city={{ event.city|default:''|urlencode }}&event_state={{ event.state|default:''|urlencode }}&event_zip={{ event.zip|default:'' }}&event_public_description={{ event.public_description|default:''|urlencode }}&event_directions={{ event.directions|default:''|urlencode }}">Click here to update and resubmit your event</a>
</p>

<p>
  Best,
</p>
<p>
  Events Team
  <br>
  People Power
</p>

{% else %}
<p>The "{{ event.title }}" event you signed up for, scheduled to be held on {{ event.starts_at|date:"l, F jS" }} at {{ event.venue }}, has been cancelled.</p>

<p>You can search for other events here:</p>

<p><a href="https://map.peoplepower.org/">map.peoplepower.org</a></p>
{% endif %}

<!-- Replacement for unsubscribe. -->
<p><small>
  You received this message because you were signed up for an event.
  You won't receive any more messages about this event.
</small></p>
