{% load actionkit_tags %}

{% filter collapse_spaces %}

<div class="ak-field-box">

    {% if campaign.use_title and campaign.show_title %}
<!--         <p class="ak-event-title"><a href="/event/{{ campaign.local_name }}/{{event.id}}/signup/?akid={{args.akid}}&amp;zip={{args.zip}}">{{ event.title }}</a></p> -->
    {% endif %}

      {% include "event_custom_field_categories.html" %}
  <br>
	<div class="subB">Location:</div>

    {% if event.venue %}
        <span class="ak-event-venue">{{ event.venue }}</span>
    {% endif %}
    <div class="ak-event-address1">{{ event.address1 }}</div>
    <div class="ak-event-city-etc">{{ event.city_etc }}</div>
        <div id="map">

			<div class="map-rawlink"><a href="https://map.peoplepower.org/#zipcode={{ action.event.postal|urlencode }}&distance=20&sort=distance&f%5B%5D=launch" target="_blank" class="buttonB1 icon-mapmarker">Get Map</a></div>
            <div class="map-iframe"><iframe src="https://www.google.com/maps/embed/v1/place?q={{ event.address1|urlencode }},+{{ event.city_etc|urlencode }}&amp;key=AIzaSyCqC-M0AKpFkQtigs-Eda4M4yvC0Xu8fKY" frameborder="0" style="border:0" width="100%" height="300"></iframe></div>
            <div class="map-getdir">
			<form class="directions-form ak-styled-fields" action="https://maps.google.com/maps/" method="get">
                <input size="26" type="text" name="saddr" placeholder="Enter your street address">
                <input type="hidden" name="daddr" value="{{ event.address1 }}, {{ event.city_etc }}">
                <button type="submit" class="buttonA2 bgBlack">Get Directions</button>
            </form>
            </div> <!-- .map-getdir -->
        </div>


    <div class="ak-event-table">
    {% if event.get_starts_at_display %}
        <div class="ak-event-time">
            <div class="subB">When:</div>
            <div {% if event.custom_fields.event_time_changed %}style="font-weight: bold; color: red"{% endif %}>
              {% if event.custom_fields.event_time_changed %}NEW: {% endif %}{{ event.get_starts_at_display }}
              {% if event.is_in_past %}
              <span class="ak-error ak-event-over-notice">
                (event is now over)
              </span>
              {% endif %}
            </div>
        </div> <!-- .ak-event-time -->
    {% endif %}
    {% if event.directions %}
        <div class="ak-event-directions">
            <div class="subB">Directions to event:</div>
            <div>{{ event.directions }}</div>
        </div> <!-- .ak-event-directions -->
    {% endif %}
    {% if event.note_to_attendees %}
        <div class="ak-event-note-to-attendees">
            <div class="subB">Your host says:</div>
            <div>{{ event.note_to_attendees }}</div>
        </div> <!-- .ak-event-note-to-attendees -->
    {% endif %}
    </div> <!-- .ak-event-table -->

    {% if event.public_description %}
        <div class="ak-event-description">
		<div class="subB">Description:</div>
            {{ event.public_description|linebreaks }}
        </div>
    {% endif %}

</div>

{% endfilter %}
