{% extends "./wrapper.html" %}
{% load actionkit_tags %}

{% block content %}

<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-4-of-12 ak-grid-centered">
        {% if message %}
            <p class="ak-large-text">{{ message }}</p>
        {% else %}
            {% if first %}
                <p>Fill out your email below and we'll send you a link to set up a password so you can log in.</p>
            {% else %}
                <p>Fill out the form below and we'll send you a link to reset your password.</p>
            {% endif %}
            <form action="{{ app_path }}" method="post" id="login-form" name="login-form" class="ak-styled-fields ak-labels-above ak-errs-below">
                
                {{ form.non_field_errors }}
 
                {% for field in form.visible_fields %}
                    <div>
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
 
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
 
                <div class="submit-row">
                    <button type="submit" class="ak-submit-button">Send</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script_additions %}
<script type="text/javascript">
$( function () {
    var email_field = $('#id_email');
    email_field.focus();
    var email_from_url = {{ email|json }};
    if (email_from_url) {
        email_field.val( email_from_url ).change();
    }
} );
</script>
{% endblock %}

{% block below_form %}

<script>
    actionkit.forms.contextRoot = '/context/';
    actionkit.forms.initValidation('login-form');
</script>

{% endblock %}
