{% load actionkit_tags %}


{% if not request.GET.override %}

<!DOCTYPE html>
<html>
<head>
	   <title>Join the campaign to Let People Vote| ACLU People Power</title>
	
	<meta charset="utf-8">

	<!-- Search Engine -->
	<meta name="description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in every state in the country to expand voting rights.">
	<meta name="image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="Join the Campaign to Let People Vote | ACLU People Power">
	<meta itemprop="description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in every state in the country to expand voting rights.">
	<meta itemprop="image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Join the Campaign to Let People Vote | ACLU People Power">
	<meta name="twitter:description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in every state in the country to expand voting rights.">
	<meta name="twitter:site" content="@PeoplePower">
	<meta name="twitter:image:src" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="Join the Campaign to Let People Vote | ACLU People Power">
	<meta property="og:description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in every state in the country to expand voting rights.">
	<meta property="og:image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<meta property="og:url" content="https://vote.peoplepower.org/signup/join_lpv_homepage/">
	<meta property="og:site_name" content="People Power">
	<meta property="og:type" content="website">

	<!-- Theme Color for Chrome, Firefox and Opera Mobile -->
	<meta name="theme-color" content="#86FAE8">

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<!-- Normalize.css -->
	<link rel="stylesheet" type="text/css" href="https://peoplepower.org/let-people-vote/normalize.css">
	<!-- Action Kit Styles -->
	<link rel="stylesheet" type="text/css" href="https://peoplepower.org/let-people-vote/actionkit.css">
	<!-- Main Styles -->
	<link rel="stylesheet" type="text/css" href="https://peoplepower.org/let-people-vote/styles.css">

	<!-- Support for Mobile Screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="icon" href="https://peoplepower.org/let-people-vote/favicon.ico">

	<!-- Google Analytics -->

	<!-- Facebook Pixel Code -->

	<!-- Twitter universal website tag code -->

	<!-- Action Kit Init -->
	<script type="text/javascript">
	 actionkit.forms.contextRoot = 'http://peoplepower.actionkit.com/context/';
	  actionkit.forms.initPage();
	  actionkit.forms.initForm('act')
	</script>

</head>
<body>

	<div id="splash-body">
		<div id="splash-container">
			<img src="https://peoplepower.org/let-people-vote/img/logo.svg" alt="ACLU People Power" />
			<h2>While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense to expand voting rights in every state in the country.</h2>
			<hr />
			<h2>Find out how to get involved in your area.</h2>
			<div class="action-network">
				<script>
				console.log("The load_remember_me snippet for Remember Me is disabled by config.")
				</script>
				<form class="action_form" name="act" method="POST" action="https://vote.peoplepower.org/act/" accept-charset="utf-8">
				    <div class="ak-grid-row">
				        <div id="signup-form" class="ak-grid-col ak-grid-col-6-of-12 ak-styled-fields ak-labels-overlaid ak-errs-below">
				            <ul class="compact" id="ak-errors"></ul>
				            <div id="known_user">
				                Not <span id="known_user_name"></span>? <a href="https://vote.peoplepower.org?" onclick="return actionkit.forms.logOut()">Click here.</a>
				            </div>
				            <div id="unknown_user" class="ak-user-form">
				                <div id="ak-fieldbox-email" class="required">
				                    <input type="text" name="email" id="id_email" class="ak-userfield-input" placeholder="Email *" autocomplete="email" required>
				                </div>
				                <div id="ak-fieldbox-zip" class="required">
				                    <input type="text" name="zip" id="id_zip" class="ak-userfield-input" autocomplete="postal-code" placeholder="Zip *" required>
				                </div>
				                <input type="hidden" name="country" value="United States">
				            </div>
				            <button type="submit" class="full">I'm in</button>
				        </div>
				    </div>
				    <input type="hidden" name="page" value="join_lpv_homepage">
				</form>
			</div>
		</div>
		<div id="protest">
			<img src="https://peoplepower.org/let-people-vote/img/protester-01.png" />
		</div>
		<div id="liberty">
			<img src="https://peoplepower.org/let-people-vote/img/liberty-statue.png" />
		</div>
	</div>
	<div class="signup-footer">
	<p>
                    By submitting this form, you are agreeing to receive
                    periodic updates from People Power and other ACLU channels. Read our <a href="https://go.peoplepower.org/signup/privacy/">Privacy Policy</a>. 
                    
                </p>
		<p>ACLU People Power is partnering with a broad group of national, state and local organizations and activist groups on the Let People Vote campaign.  Many of the campaign’s calls to action were developed by partners, and this work will be advanced hand-in-hand with organizations such as the League of Women Voters, Common Cause, Kentuckians For The Commonwealth, Voice of the Experienced (VOTE), Restore the Vote Coalition, the NAACP, Nebraskans for Civic Reform; Latino American Commission, the Bus Project, MoveOn, Keystone Votes Coalition, Utahns for Responsive Government, Citizen Action of Wisconsin, VICE Impact, and many, many others.</p>
		<p>By submitting this form, you are agreeing to receive periodic updates from People Power and other ACLU channels.</p>
	</div>

	<!-- Initialize jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
	<!-- Call Main JS File -->
	<script src="https://peoplepower.org/let-people-vote/js/main.js" type="text/javascript" charset="utf-8"></script>
	<script>
	window.history.pushState("string", "Title", "https://vote.peoplepower.org/getinvolved");
	</script>
</body>
</html>

{% else %}
 <html>
<head>
<meta http-equiv="refresh" content="0;url=https://map.peoplepower.org/?eventType=votingRights&source=voted">
</head>
<body>
</body>
</html>
{% endif %}