{% extends "./wrapper.html" %}
{% load actionkit_tags %}

{% block content %}

<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-12-of-12">
        <h2>{{ page.title }}</h2>
    </div>
</div>

<form id="unsub-form" name="act" method="POST" action="/act/" accept-charset="utf-8">

    <div class="ak-grid-row">
        <div class="area ak-grid-col ak-grid-col-6-of-12">
            {% if page.custom_fields.featured_image %}
                <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
            {% endif %}
            {% autoescape off %}
                {% include_tmpl form.introduction_text %}
            {% endautoescape %}
        </div>
        <div class="area ak-grid-col ak-grid-col-6-of-12 ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">

            <ul class="compact" id="ak-errors"></ul>
            <div id="unknown_user">
                <div> 
                    <div>
                        <label for="id_email">Email address</label>
                        <input id="id_email" type="text" name="email" size=40>
                    </div>
                    <input type="hidden" name="country" value="United States">
                </div>
            </div>
            <div id="known_user">
                <div class="ak-err">
                    Not <span id="known_user_name"></span>?  
                    Please don't use this form!
                </div>
            </div>

            {% if user.subscriptions|length > 1 %}
                <input type="hidden" name="have_unsub_lists" value="1">
                <div>
                    <label>
                        Unsubscribe From
                    </label>                    
                    <div class="ak-unsubscribe-lists ak-checkbox-set">
                        {% for s in user.subscriptions %}
                            <label class="ak-checkbox-choice" style="display: block">
                                <input type="checkbox" checked name="unsub_lists" value="{{ s.list.id }}">
                                {{ s.list.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div>
                <label for="id_action_survey">
                    {% autoescape off %}
                        {% include_tmpl form.survey_question_text %}
                    {% endautoescape %}
                </label>
                <textarea id="id_action_survey" name="action_survey"></textarea>
            </div>

            <button type="submit">Unsubscribe</button>

        </div>
    </div>
    
    <input type="hidden" name="page" value="{{ page.name }}">
</form>

{% endblock %}
