{% load actionkit_tags %}
<!DOCTYPE html>
<html lang="{{page.lang.iso_code|default:'en'}}"{% if page.lang.is_rtl %} dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <script>startTime=new Date()</script>
    <meta name="application-name" content="People Power"/>

<link rel="shortcut icon" type="image/x-icon" href="https://peoplepower.org/assets/favicon.ico" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="People Power"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% if event.is_open_for_signup %}
		<title>People Power Action Event in {{ event.city_etc_no_postal }}</title>
		<meta property="og:image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/peoplepower-rsvpsocial.png" />
		<meta property="og:title" content="Join a People Power Action Event in {{ event.city_etc_no_postal }}" />
		<meta name="description" property="og:description" content="We're organizing grassroots volunteers to fight against the worst abuses of the Trump administration.">
		<meta property="og:site_name" content="PeoplePower.org">
		<meta name="twitter:card" value="summary_large_image">
    {% else %}
		<title>{% block title %}{{ page.title }} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}</title>
		{{ page.followup.share_title_tag }}
		{% if form.id %}<meta name="description" property="og:description" content="{% block description %}{{ page.followup.share_description_value }}{% endblock %}">{% endif %}
		{{ page.followup.share_image_tag }}
		{{ page.followup.share_url_tag }}
		<meta property="og:site_name" content="{% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}">
		<meta property="og:type" content="article">
		<meta name="twitter:card" value="summary_large_image">    	
    {% endif %}
    <meta name="twitter:site" content="@ACLU">
    <meta name="twitter:creator" content="@ACLU">
    {% block meta_additions %}{% endblock %}

    {% load_css %}
        //s3.amazonaws.com/peoplepower.org/assets/peoplepowerstyle.css?={% now "U" %}
    {% end %}
    {% block css_additions %}{% endblock %}

    {% load_ak_context context %}
    {% load_js %}
        //s3.amazonaws.com/s3.peoplepower.org/scripts/jquery.min.js
        /resources/actionkit.js
        //s3.amazonaws.com/s3.peoplepower.org/scripts/aws-sdk.min.js
        //s3.amazonaws.com/s3.peoplepower.org/scripts/s3upload_app.js
    {% end %}

    <style>
     .ak-labels-before label.ak-event-category-checkbox-label {
         top: -5px;
     }
    </style>
    {% block script_additions %}{% endblock %}

    {% if page.custom_fields.code_head %}
    {% include_tmpl page.custom_fields.code_head %}
    {% endif %}
</head>
<body class="ak-pagetype-{{ filename|split:'.'|nth:0 }} ak-lang-{{page.lang.iso_code|default:"unknown"}}{% if page.lang.is_rtl %} ak-rtl{% endif %} ak-no-js">
    <script type="text/javascript">actionkit.forms.initPage()</script>

    <div class="ak-page-header">
        <div class="ak-page-header-contents">
            <img src="https://s3.amazonaws.com/s3.peoplepower.org/images/peoplepowerlogo-new.svg" alt="People Power" />
            <div class="ak-page-nav"></div>
        </div>
    </div>

    <div class="ak-page-container">

        {% block content %}{% endblock %}

        <div class="ak-page-footer">
            <div class="ak-page-footer-contents">
<a href="https://www.aclu.org/" class="footer-pp-logo"><img src="https://s3.amazonaws.com/s3.peoplepower.org/images/peoplepowerblacklogo-new.svg" alt="People Power | ACLU" /></a>
<div class="footer-fineprint">				
<span>{% ifequal page.type "Unsubscribe" %}By submitting this form, you will be unsubscribed from People Power.{% else %}
{% if not filename|split:'.'|nth:0 = "thanks" %}
By submitting this form, you are agreeing to receive periodic updates from People Power and other ACLU channels.
{% endif %}
{% endifequal %}</span>
<span>Contact us at <a href="mailto:info@peoplepower.org">info@peoplepower.org</a>.<br><a href="https://go.peoplepower.org/signup/privacy/">{{ 'Privacy Policy'|ak_text:'privacy' }}</a></span>
</div> <!-- .footer-fineprint -->
</div> <!-- ak-page-footer-contents -->
</div> <!-- .ak-page-footer -->

    </div>

    {% block below_form %}
    <script type="text/javascript">
        actionkit.forms.contextRoot = '/context/';
        actionkit.forms.initForm('act');
    </script>
    {% endblock %}

    <script type="text/javascript">
        $(window).load(function() {
 
            function truncate_read_more() {
                var ak_text_expander_height = $('.ak-text-expander').height();
                $('.ak-text-expander').css('max-height','4.5em');
                var ak_text_expander_height_truncated = $('.ak-text-expander').height();
                //console.log(ak_text_expander_height, 'original height');
                //console.log(ak_text_expander_height_truncated, 'new height');
                if (ak_text_expander_height !== ak_text_expander_height_truncated) {
                    $('.ak-text-expander').addClass('ak-truncated');
                }
                if ($(window).width() >= 480){    
                    $('.ak-text-expander').css('max-height','none');
                    $('a.ak-read-more').hide();
                } else {
                    $('.ak-text-expander.ak-truncated + a.ak-read-more').show();
                }
                    
                $('.ak-read-more').on('click', function() {
                    $('.ak-text-expander').css('max-height','100%')
                    .css('margin-bottom','10px');
                    $(this).hide();
                });
            }
            if ($('.ak-text-expander').length) {
                $(window).on('resize', truncate_read_more);
                truncate_read_more();
            }
        });
    </script>
    
    
<!-- SiteCatalyst code version: AppMeasurement 1.6.1 Copyright 1996-2017 Adobe, Inc. -->
<script language="javascript" type="text/javascript" src="https://www.aclu.org/sites/all/libraries/sitecatalyst/AppMeasurement.js"></script>
<script language="javascript" type="text/javascript"><!--
  s.pageName='"' + location.pathname + '"';
  s.prop4="Page";
  s.prop5='"' + location.pathname + '"';
  s.prop12="go.peoplepower.org";
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//-->
</script>
<!-- End SiteCatalyst code -->
<script>
	$(window).load( function() {
	$('label[for="id_mobile_phone"]').html('Phone number*');
	});
	</script>
</body>
</html>
