{% load actionkit_tags %}

{% if page.custom_fields.migration_redirect_url %}
<!DOCTYPE html>
<html> 
<body> 
	<meta http-equiv="refresh" content="0;url={{page.custom_fields.migration_redirect_url}}">
</body> 
</html> 
{% else %}
<!DOCTYPE html>
<html lang="{{page.lang.iso_code|default:'en'}}"{% if page.lang.is_rtl %} dir="rtl"{% endif %}><head>
    <meta charset="utf-8">
    <script>startTime=new Date()</script>
    <meta name="application-name" content="People Power"/>

<link rel="shortcut icon" type="image/x-icon" href="https://peoplepower.org/assets/favicon.ico" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://peoplepower.org/assets/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="People Power"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if event.is_open_for_signup %}
    
<title>People Power Action Event in {{ event.city_etc_no_postal }}</title>
    {% else %}
    <title>{% block title %}{{ page.title }} | {% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}{% endblock %}</title>
    <meta property="og:type" content="article">
    {% endif %}

    <meta property="og:title" content="{% if page.followup.share_title_value %}{% include_tmpl page.followup.share_title_value %}{% elif event.is_open_for_signup %}Join a People Power Action Event in {{ event.city_etc_no_postal }}{% else %}{{ page.title }}{% endif %}" />

    {% if page.followup.share_image_value %}
    {{ page.followup.share_image_tag }}
    {% elif event.is_open_for_signup %}
    <meta property="og:image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-rsvpnow.png" />
    {% endif %}
    
    {% if form.id %}
    <meta name="description" property="og:description"
          content="{% block description %}{% if page.followup.share_description_value %}{% include_tmpl page.followup.share_description_value %}{% else %}We're organizing grassroots volunteers to fight for civil rights and liberties.{% endif %}{% endblock %}">
    {% endif %}
    
    {{ page.followup.share_url_tag }}
    <meta property="og:site_name" content="{% filter ak_text:"org_name" %}{% client_name %}{% endfilter %}">
    <meta name="twitter:card" value="summary_large_image">

    <meta name="twitter:site" content="@ACLU">
    <meta name="twitter:creator" content="@ACLU">
    {% block meta_additions %}{% endblock %}

    {% load_css %}
        //s3.amazonaws.com/peoplepower.org/assets/peoplepowerstyle.css?={% now "U" %}
    {% end %}
    {% block css_additions %}
        {% ifequal page.custom_fields.read_more "On" %}
            {% load_css %}
                //s3.amazonaws.com/s3.peoplepower.org/images/readMore.css
            {% end %}
        {% endifequal %}
    {% endblock %}

    {% load_ak_context context %}
    {% load_js %}
        //s3.amazonaws.com/s3.peoplepower.org/scripts/jquery.min.js
        /resources/actionkit.js
        //s3.amazonaws.com/s3.peoplepower.org/scripts/aws-sdk.min.js
        //s3.amazonaws.com/s3.peoplepower.org/scripts/s3upload_app.js
    {% end %}

    <style>
     .ak-labels-before label.ak-event-category-checkbox-label {
         top: -5px;
     }
    </style>
    {% block script_additions %}{% endblock %}

    {% if page.custom_fields.code_head %}
    {% include_tmpl page.custom_fields.code_head %}
    {% endif %}
</head>
<body class="ak-pagetype-{{ filename|split:'.'|nth:0 }} ak-lang-{{page.lang.iso_code|default:"unknown"}}{% if page.lang.is_rtl %} ak-rtl{% endif %} ak-no-js">
    <script type="text/javascript">actionkit.forms.initPage()</script>

    <div class="ak-page-header">
        <div class="ak-page-header-contents">
            <img src="https://s3.amazonaws.com/s3.peoplepower.org/images/peoplepowerlogo-new.svg" alt="People Power" />
            <div class="ak-page-nav"></div>
        </div>
    </div>
	<section class="whitebg">
			<div class="ak-page-container">

				{% block content %}{% endblock %}

				<div class="ak-page-footer">
					<div class="ak-page-footer-contents">
					<a href="https://www.aclu.org/" class="footer-pp-logo"><img src="https://s3.amazonaws.com/s3.peoplepower.org/images/peoplepowerblacklogo-new.svg" alt="People Power | ACLU" /></a>
					<div class="footer-fineprint">
					{% if page.custom_fields.custom_disclaimer %}
					<span>{{ page.custom_fields.custom_disclaimer }}</span>
					{% else %}				
					<span>{% ifequal page.type "Unsubscribe" %}By submitting this form, you will be unsubscribed from People Power.{% else %}
					{% if not filename|split:'.'|nth:0 = "thanks" %}
					By completing this form, you are joining our People Power volunteer program and agreeing to receive emails, calls, or texts from the ACLU, its state affiliates, and their representatives about ways to take action and support the ACLU, as per our privacy policy.
					{% endif %}
						
					{% endifequal %}</span>
						{% endif %}
					<span>Contact us at <a href="mailto:info@peoplepower.org">info@peoplepower.org</a>.<br><a href="https://www.aclu.org/american-civil-liberties-union-privacy-statement">{{ 'Privacy Policy'|ak_text:'privacy' }}</a></span>
					</div> <!-- .footer-fineprint -->
					</div> <!-- ak-page-footer-contents -->
				</div> <!-- .ak-page-footer -->

			</div>
		</section>

    {% block below_form %}
    <script type="text/javascript">
        actionkit.forms.contextRoot = '/context/';
        actionkit.forms.initForm('act');
    </script>
    {% endblock %}

    <script type="text/javascript">
        $(window).load(function() {
 
            function truncate_read_more() {
                var ak_text_expander_height = $('.ak-text-expander').height();
                $('.ak-text-expander').css('max-height','4.5em');
                var ak_text_expander_height_truncated = $('.ak-text-expander').height();
                //console.log(ak_text_expander_height, 'original height');
                //console.log(ak_text_expander_height_truncated, 'new height');
                if (ak_text_expander_height !== ak_text_expander_height_truncated) {
                    $('.ak-text-expander').addClass('ak-truncated');
                }
                if ($(window).width() >= 480){    
                    $('.ak-text-expander').css('max-height','none');
                    $('a.ak-read-more').hide();
                } else {
                    $('.ak-text-expander.ak-truncated + a.ak-read-more').show();
                }
                    
                $('.ak-read-more').on('click', function() {
                    $('.ak-text-expander').css('max-height','100%')
                    .css('margin-bottom','10px');
                    $(this).hide();
                });
            }
            if ($('.ak-text-expander').length) {
                $(window).on('resize', truncate_read_more);
                truncate_read_more();
            }
        });
    </script>

    {% ifequal page.custom_fields.read_more "On" %}
    <script type="text/javascript">
        $(document).ready( function() {
            pinStory();
            readMore();

            function pinStory() {
                console.log("Mic check");

                var pitch, epoch, paneX, paneY, attSpan;
                pitch = $('#signup-story');
                epoch = pitch.height();
                paneX = window.innerWidth;
                paneY = window.innerHeight;
                attSpan = paneY - 250;

                if ( paneX <= 720 && epoch >= attSpan ) {
                    var pin;
                    pin = paneY - 300;
                    $(pitch).height(pin+"px");
                    console.log("Epoch set to "+pin+"px!");
                    $(pitch).after('<div class="readMore"><h4>Read More <img src="https://s3.amazonaws.com/s3.peoplepower.org/images/readMore.svg" /></h4></div>');
                }
            }

            function readMore() {
                 var readMore, arrows, story, storyHeight;
                 readMore = $('.readMore');
                 arrows = $('.readMore img');
                 story = $('#signup-story');
                 storyHeight = $(story).height();

                $('.readMore').click(function() {
                  if ( !$(story).hasClass('unpinned') ) {
                    story.animate({
                      height: $(story).get(0).scrollHeight
                    }, 1000, function(){ $(this).height('auto'); });
                    arrows.css({transform: 'rotate(180deg)'});
                    $(story).addClass('unpinned');
                  } else {
                    story.animate({ height: storyHeight }, 500);
                    arrows.css({transform: 'rotate(0deg)'});
                    $(story).removeClass('unpinned');
                  }
                });
            }
        });
    </script>
    {% endifequal %}
    
    
<!-- SiteCatalyst code version: AppMeasurement 1.6.1 Copyright 1996-2017 Adobe, Inc. -->
<script language="javascript" type="text/javascript" src="https://www.aclu.org/sites/all/libraries/sitecatalyst/AppMeasurement.js"></script>
<script language="javascript" type="text/javascript"><!--
  s.pageName='"' + location.pathname + '"';
  s.prop4="Page";
  s.prop5='"' + location.pathname + '"';
  s.prop12="go.peoplepower.org";
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//-->
</script>
<!-- End SiteCatalyst code -->
<script>
	$(window).load( function() {
		$('#id_comment').parent().hide();
		$('#id_comment').hide();
		$('label[for="id_mobile_phone"]').html('Phone number*');
		$("label:contains('Hidden')").hide();
	});
	</script>
</body>
</html>
{% endif %}