/* 
///////COLORS///////
Light Grey: rgb(236, 236, 236);

///////FONTS///////
Freight Sans Pro (medium)
font-family: "freight-sans-pro",sans-serif;
font-style: normal;
font-weight: 500;

Freight Sans Pro (bold)
font-family: "freight-sans-pro",sans-serif;
font-style: normal;
font-weight: 700;
 */

 html,body,.col-md-12,.row {
  height:100%;
}

@media (min-width: 767px){
.row > div {
  height:100%;
}
}

.main-video{
	vertical-align: middle;
}

.sidebar{
	background-color: rgba(236, 236, 236, 1);
}

.logo{
	margin-top: 10%;
}

h2{
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
}

/* Buttons styling */

.grey{
	background-color: rgba(157,189,198,1);
}
.grey:hover{
	background-color: rgba(83,120,130,1);
}

.red{
	background-color: rgba(239,65,52,1) ;
}
.red:hover{
	background-color: rgba(171,12,0,1);
}
.long-button button{
	display: block; 
	width: 100%;
	color: white;
	border-radius: 0;
	border: none;
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
}
.long-button button:hover{
	border: none;
	color: white;
	border-radius: 0;
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
}

.form-control{
	border:none;
	border-radius: 0;
}

p{
	font-family: "freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
}







