@font-face {
  font-family: "Freight Sans CMP";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/FreightSansCmpPro-Book.eot?#iefix") format("embedded-opentype"),
       url("../fonts/FreightSansCmpPro-Book.otf") format("opentype");
}

@font-face {
  font-family: "Freight Sans CMP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FreightSansCmpPro-Med.eot?#iefix") format("embedded-opentype"),
       url("../fonts/FreightSansCmpPro-Med.otf") format("opentype");
}

@font-face {
  font-family: "Freight Sans CMP";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FreightSansCmpPro-Semi.eot?#iefix") format("embedded-opentype"),
       url("../fonts/FreightSansCmpPro-Semi.otf") format("opentype");
}


h1, h2 {
  color: #ffffff;
  font-family: "Freight Sans CMP", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: initial;
  margin-bottom: .5rem;
}

h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Freight Sans CMP", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: initial;
}

body {
  background-color: #272f32;
  color: #272F32;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #ef4134;
  border: 1px solid #ef4134;
  border-radius: 0;
  color: #ffffff;
  font-family: "Freight Sans CMP", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #bc0000;
  border: 1px solid #bc0000;
  border-radius: 0;
  color: #ffffff;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #9dbdc6;
  border: 1px solid #9dbdc6;
  border-radius: 0;
  color: #272F32;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #537882;
  border: 1px solid #537882;
  border-radius: 0;
  color: #ffffff;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-radius: 0;
}

a,
a:visited {
  color: #ef4134;
  font-weight: 600;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #bc0000;
}

label, legend {
  font-weight: 300;
}

.color-red{
  color: #ef4134;
}
.color-red.dark {
  color: #bc0000;
}
.color-blue{
  background-color: #9dbdc6;
}
.color-blue.dark {
  background-color: #537882;
}
.color-offwhite{
  background-color: #ececec;
}
.color-offblack{
  background-color: #272f32;
}


.sidebar {
  background-color: #252f32;
  color: #ffffff;
  display: inline-block;
  padding: 30px 0 0 0;
}

.privacy-policy {
  background-color: #385a63;
  padding: 40px 0;
  text-align: center;
}
.privacy-policy a {
  color: #ececec;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.logo {
  text-align: center;
}

.logo img {
  display: block;
  margin: 0 auto 1.2em auto;
  max-width: 250px;
  width: 100%;
}

.main-video iframe {
  border: 0;
  height: 100%;
  min-height: 450px;
  width: 100%;
}

.thanks-message-div {
  padding: 60px;
  text-align: center;
}


